<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ui-sref="points" ng-if="$ctrl.userCopy.point">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <h2 flex>My Profile</h2>
  </div>
</md-toolbar>
<md-content layout-padding>
  <div layout="column" layout-padding layout-align="center center">
    <img ng-src="{{$ctrl.userCopy.avatar_url}}" class="md-avatar">
  </div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>First Name</label>
      <input ng-model="$ctrl.userCopy.first_name">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Last Name</label>
      <input ng-model="$ctrl.userCopy.last_name">
    </md-input-container>
  </div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Workplace Address</label>
      <input ng-model="$ctrl.userCopy.point.address_line_1" ng-click="$ctrl.workplace()">
    </md-input-container>
  </div>
  <div layout="column">
    <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()" ng-disabled="!$ctrl.userCopy.point">
      Continue
    </md-button>
  </div>
</md-content>
