<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ui-sref="points">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <h2 flex md-truncate>My Profile</h2>
  </div>
</md-toolbar>
<md-content layout-padding>
  <img ng-src="{{$ctrl.user.data.avatar_url}}" class="md-avatar">
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>First Name</label>
      <input ng-model="$ctrl.user.data.first_name">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Last Name</label>
      <input ng-model="$ctrl.user.data.last_name">
    </md-input-container>
  </div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Workplace Address</label>
      <input ng-model="$ctrl.user.data.point.address_line_1" ng-focus="alert('lol')">
    </md-input-container>
  </div>
  <md-button type="submit" ng-click="$ctrl.save()">Submit</md-button>
</md-content>
